.register-main-cointainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(220deg,
            hsl(270deg 100% 20%) 1%,
            hsl(284deg 100% 20%) 33%,
            hsl(296deg 100% 21%) 41%,
            hsl(307deg 100% 23%) 46%,
            hsl(315deg 100% 27%) 48%,
            hsl(321deg 100% 31%) 50%,
            hsl(326deg 100% 34%) 51%,
            hsl(330deg 100% 38%) 51%,
            hsl(334deg 100% 40%) 51%,
            hsl(339deg 89% 45%) 51%,
            hsl(348deg 80% 53%) 50%,
            hsl(356deg 88% 59%) 50%,
            hsl(4deg 96% 62%) 49%,
            hsl(12deg 100% 61%) 49%,
            hsl(19deg 100% 59%) 49%,
            hsl(26deg 100% 57%) 49%,
            hsl(32deg 100% 55%) 50%,
            hsl(39deg 100% 51%) 52%,
            hsl(43deg 100% 50%) 54%,
            hsl(47deg 100% 50%) 59%,
            hsl(51deg 100% 50%) 67%,
            hsl(55deg 100% 50%) 99%);

    .form-register-cointainer {
        gap: 20px;
        width: 500px;
        height: 600px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        flex-direction: column;
        justify-content: center;
        background-color: #f2f2f2;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.075);

        @media (max-width: 708px) {
            width: 500px;
        }

        @media (max-width: 510px) {
            width: 400px;
        }

        .text-register-container {
            width: 80%;
            margin-bottom: 30px;

            h1 {
                display: flex;
                gap: 10px;
                font-weight: 500;
                margin-bottom: 10px;
                letter-spacing: -1px;
                color: #1a1a1abd;

                div {
                    font-weight: 700;
                    color: #330066;
                    position: relative;
                    width: 110px;
                }

                div::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 100%;
                    bottom: 0;
                    background-color: rgba(255, 255, 255, 0.075);
                    height: 2px;
                }
            }

            div {
                color: #1a1a1abd;
                font-weight: 300;
            }
        }

        form {
            width: 80%;
            color: #1a1a1abd;

            .inputs-register-container {
                width: 100%;
                margin-bottom: 10px;

                div {
                    width: 100%;
                    margin-bottom: 5px;

                    input {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                }
            }

            .checkbox-forgot-container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                div:nth-child(2) {
                    text-align: end;
                    cursor: pointer;
                    border-bottom: #00000036 solid 1px;

                }

            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                border-radius: 100px;
                border: navajowhite;
                font-size: 1.4rem;
                height: 50px;
                color: #fff;
                font-weight: 500;
                margin-top: 20px;
                margin-bottom: 50px;
                cursor: pointer;
                background-image: linear-gradient(220deg,
                        hsl(270deg 100% 20%) 1%,
                        hsl(284deg 100% 20%) 33%,
                        hsl(296deg 100% 21%) 41%,
                        hsl(307deg 100% 23%) 46%,
                        hsl(315deg 100% 27%) 48%,
                        hsl(321deg 100% 31%) 50%,
                        hsl(326deg 100% 34%) 51%,
                        hsl(330deg 100% 38%) 51%,
                        hsl(334deg 100% 40%) 51%,
                        hsl(339deg 89% 45%) 51%,
                        hsl(348deg 80% 53%) 50%,
                        hsl(356deg 88% 59%) 50%,
                        hsl(4deg 96% 62%) 49%,
                        hsl(12deg 100% 61%) 49%,
                        hsl(19deg 100% 59%) 49%,
                        hsl(26deg 100% 57%) 49%,
                        hsl(32deg 100% 55%) 50%,
                        hsl(39deg 100% 51%) 52%,
                        hsl(43deg 100% 50%) 54%,
                        hsl(47deg 100% 50%) 59%,
                        hsl(51deg 100% 50%) 67%,
                        hsl(55deg 100% 50%) 99%);
            }

            .link {
                width: 100%;
                text-align: center;

                a {
                    text-decoration: none;
                    color: #1a1a1abd;
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
        }

    }

}