.register-main-cointainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(65deg,
            hsl(218deg 56% 30%) 1%,
            hsl(218deg 56% 30%) 31%,
            hsl(218deg 56% 30%) 39%,
            hsl(218deg 56% 30%) 44%,
            hsl(218deg 56% 30%) 47%,
            hsl(218deg 56% 30%) 49%,
            hsl(218deg 56% 30%) 50%,
            hsl(218deg 56% 30%) 51%,
            hsl(218deg 56% 30%) 51%,
            hsl(218deg 56% 30%) 51%,
            hsl(218deg 56% 30%) 51%,
            hsl(218deg 56% 30%) 50%,
            hsl(218deg 56% 30%) 50%,
            hsl(257deg 32% 41%) 50%,
            hsl(299deg 34% 41%) 49%,
            hsl(327deg 47% 50%) 49%,
            hsl(344deg 72% 58%) 49%,
            hsl(3deg 92% 65%) 49%,
            hsl(22deg 100% 60%) 50%,
            hsl(22deg 100% 60%) 51%,
            hsl(22deg 100% 60%) 53%,
            hsl(22deg 100% 60%) 56%,
            hsl(22deg 100% 60%) 61%,
            hsl(22deg 100% 60%) 69%,
            hsl(22deg 100% 60%) 99%);

    .form-register-cointainer {
        gap: 20px;
        width: 500px;
        height: 600px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        flex-direction: column;
        justify-content: center;
        background-color: #f2f2f2;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.075);

        @media (max-width: 708px) {
            width: 500px;
        }

        @media (max-width: 510px) {
            width: 400px;
        }

        .text-register-container {
            width: 80%;
            margin-bottom: 30px;

            h1 {
                display: flex;
                gap: 10px;
                font-weight: 500;
                margin-bottom: 10px;
                letter-spacing: -1px;
                color: #1a1a1abd;

                div {
                    font-weight: 700;
                    color: #ff7e33;
                    position: relative;
                    width: 110px;
                }

                div::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 100%;
                    bottom: 0;
                    background-color: rgba(255, 255, 255, 0.075);
                    height: 2px;
                }
            }

            div {
                color: #1a1a1abd;
                font-weight: 300;
            }
        }

        form {
            width: 80%;
            color: #1a1a1abd;

            .inputs-register-container {
                width: 100%;
                margin-bottom: 10px;

                div {
                    width: 100%;
                    margin-bottom: 5px;

                    input {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                }
            }

            .checkbox-forgot-container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                div:nth-child(2) {
                    text-align: end;
                    cursor: pointer;
                    border-bottom: #00000036 solid 1px;

                }

            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                border-radius: 100px;
                border: navajowhite;
                font-size: 1.4rem;
                height: 50px;
                color: #fff;
                font-weight: 500;
                margin-top: 20px;
                margin-bottom: 50px;
                cursor: pointer;
                background-image: linear-gradient(295deg,
                        hsl(218deg 56% 30%) 1%,
                        hsl(218deg 56% 30%) 31%,
                        hsl(218deg 56% 30%) 39%,
                        hsl(218deg 56% 30%) 44%,
                        hsl(218deg 56% 30%) 47%,
                        hsl(218deg 56% 30%) 49%,
                        hsl(218deg 56% 30%) 50%,
                        hsl(218deg 56% 30%) 51%,
                        hsl(218deg 56% 30%) 51%,
                        hsl(218deg 56% 30%) 51%,
                        hsl(218deg 56% 30%) 51%,
                        hsl(218deg 56% 30%) 50%,
                        hsl(218deg 56% 30%) 50%,
                        hsl(257deg 32% 41%) 50%,
                        hsl(299deg 34% 41%) 49%,
                        hsl(327deg 47% 50%) 49%,
                        hsl(344deg 72% 58%) 49%,
                        hsl(3deg 92% 65%) 49%,
                        hsl(22deg 100% 60%) 50%,
                        hsl(22deg 100% 60%) 51%,
                        hsl(22deg 100% 60%) 53%,
                        hsl(22deg 100% 60%) 56%,
                        hsl(22deg 100% 60%) 61%,
                        hsl(22deg 100% 60%) 69%,
                        hsl(22deg 100% 60%) 99%);
            }

            .link {
                width: 100%;
                text-align: center;

                a {
                    text-decoration: none;
                    color: #1a1a1abd;
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
        }

    }

}