.main-container-header {
    gap: 50px;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    background-image: linear-gradient(220deg,
            hsl(270deg 100% 20%) 1%,
            hsl(284deg 100% 20%) 33%,
            hsl(296deg 100% 21%) 41%,
            hsl(307deg 100% 23%) 46%,
            hsl(315deg 100% 27%) 48%,
            hsl(321deg 100% 31%) 50%,
            hsl(326deg 100% 34%) 51%,
            hsl(330deg 100% 38%) 51%,
            hsl(334deg 100% 40%) 51%,
            hsl(339deg 89% 45%) 51%,
            hsl(348deg 80% 53%) 50%,
            hsl(356deg 88% 59%) 50%,
            hsl(4deg 96% 62%) 49%,
            hsl(12deg 100% 61%) 49%,
            hsl(19deg 100% 59%) 49%,
            hsl(26deg 100% 57%) 49%,
            hsl(32deg 100% 55%) 50%,
            hsl(39deg 100% 51%) 52%,
            hsl(43deg 100% 50%) 54%,
            hsl(47deg 100% 50%) 59%,
            hsl(51deg 100% 50%) 67%,
            hsl(55deg 100% 50%) 99%);

    .container-image {
        height: 60%;
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;

        .image {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }


    .search-container {
        padding: 0;
        margin: 0;
        height: 40px;
        width: 700px;
        position: relative;

        .input-container {
            height: 100%;
            width: 100%;

            .input-search {
                outline: none;
                width: 100%;
                height: 100%;
                border: none;
                border-radius: 3px;
                padding: 0 0 0 10px;
                box-sizing: border-box;
            }
        }

        .container-search-list {
            top: 50px;
            gap: 20px;
            width: 100%;
            z-index: 999;
            display: flex;
            cursor: pointer;
            z-index: 9999999;
            border-radius: 3px;
            position: absolute;
            padding: 10px 10px;
            flex-direction: column;
            box-sizing: border-box;
            transition: .2s ease-in-out;
            background-color: #f7f7f7;
            color: rgba(0, 0, 0, 0.589);

            .container-search-card {
                gap: 10px;
                height: 70px;
                display: flex;
                align-items: center;
                text-decoration: none;

                .container-text-search {
                    div:nth-child(1) {
                        width: 100%;
                        color: #00000098;
                        font-weight: 500;
                        font-size: 1.1rem;
                    }

                    div:nth-child(2) {
                        width: 90%;
                        color: #0000006c;
                        font-size: .7rem;
                    }
                }
            }
        }
    }

    .container-login-cadastro {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .container-header-icon {
            border: solid 1.5px #ffffff62;
            border-radius: 100px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }

        .container-header-links {
            width: 100px;
            color: #fff;
            font-weight: 300;
            font-size: .7rem;

            a {
                font-weight: 900;
                color: #ffffff;
                text-decoration: none;
                transition: .5s ease-in-out;
                border-bottom: transparent;

            }

            a:hover {
                border-bottom: 1px solid #fff;
            }
        }
    }

    .container-header-bag-number {
        color: #fff;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        cursor: pointer;

        div {
            color: rgb(49, 49, 49);
            top: -13px;
            width: 21px;
            height: 21px;
            right: -13px;
            display: flex;
            font-size: .9rem;
            font-weight: 600;
            position: absolute;
            align-items: center;
            border-radius: 100px;
            background: #ffd900;
            justify-content: center;
        }
    }

    .container-logout {
        display: flex;
        color: #fff;
        gap: 5px;
        font-size: .8rem;

        div:nth-child(2) {
            font-weight: 800;
            cursor: pointer;
        }
    }
}



@keyframes bounce {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.container-header-bag-number.animated {
    animation: bounce 0.3s ease-in-out;
}