.product-cart {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    border: none;
    height: 50px;
    border-radius: 5px;
    font-weight: 900;
    color: #ffff;
    cursor: pointer;
    background-image: linear-gradient(65deg,
            hsl(218deg 56% 30%) 1%,
            hsl(218deg 56% 30%) 31%,
            hsl(218deg 56% 30%) 39%,
            hsl(218deg 56% 30%) 44%,
            hsl(218deg 56% 30%) 47%,
            hsl(218deg 56% 30%) 49%,
            hsl(218deg 56% 30%) 50%,
            hsl(218deg 56% 30%) 51%,
            hsl(218deg 56% 30%) 51%,
            hsl(218deg 56% 30%) 51%,
            hsl(218deg 56% 30%) 51%,
            hsl(218deg 56% 30%) 50%,
            hsl(218deg 56% 30%) 50%,
            hsl(257deg 32% 41%) 50%,
            hsl(299deg 34% 41%) 49%,
            hsl(327deg 47% 50%) 49%,
            hsl(344deg 72% 58%) 49%,
            hsl(3deg 92% 65%) 49%,
            hsl(22deg 100% 60%) 50%,
            hsl(22deg 100% 60%) 51%,
            hsl(22deg 100% 60%) 53%,
            hsl(22deg 100% 60%) 56%,
            hsl(22deg 100% 60%) 61%,
            hsl(22deg 100% 60%) 69%,
            hsl(22deg 100% 60%) 99%);

    .button-card {
        font-size: 20px;
    }
}