.main-container-detail-all-container {
  width: 70%;
  display: flex;
  padding: 20px;
  border-radius: 5px;
  flex-direction: column;
  box-sizing: border-box;
  margin: 90px auto 0 auto;

  @media (max-width: 1410px) {
    width: 95%;
  }

  @media (max-width: 1031px) {
    align-items: center;
    justify-content: center;
  }

  .container-controls {
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 30px;
    align-items: center;

    @media (max-width: 904px) {
      justify-content: space-between;
    }

    .items-per-page {
      width: 170px;
    }
  }

  .list-filter-products-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

  }

  .container-paginacao-detadetail-all-container {
    gap: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;

    li {
      width: 40px;
      height: 40px;
      display: flex;
      cursor: pointer;
      border-radius: 5px;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      justify-content: center;
      transition: .5s ease-in-out;
      background-color: rgb(240, 240, 240);
      border: solid 1px rgba(0, 0, 0, 0.089);
    }

    li:hover {
      background-color: rgb(209, 209, 209);
    }
  }

}