.main-container-detail-all-container {
  width: 100%;
  display: flex;
  margin-top: 90px;
  flex-direction: column;

  .list-filter-products-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .container-cards-detail-all-container {
      width: 78%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    .container-filter-container {
      width: 22%;
      display: flex;
      position: relative;
      justify-content: center;

      .filter-detail-all-container {
        width: 20vw;
        height: 60vh;
        position: fixed;
        border-radius: 5px;
        background-color: #f2f2f2;

      }
    }

  }

  .container-paginacao-detadetail-all-container {
    gap: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  }

}