.main-sale-our-products-container {
    width: 100%;
    display: flex;
    margin-top: 30px;
    padding: 0 0 20px 0;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;

    .text-sale-our-products-container {
        gap: 5px;
        width: 100%;
        display: flex;
        font-weight: 800;
        color: #525252;
        font-size: 1.2rem;
        align-items: center;
        box-sizing: border-box;

        .icon-sale-our-percent {
            color: #330066;
        }
    }
}