.main-home-container {
    width: 70%;
    display: flex;
    margin: 90px auto 0 auto;
    flex-direction: column;
    background-color: rgba(240, 240, 240, 0.582);

    .container-create-new-product {
        height: 50px;
        display: flex;
        padding-bottom: 10px;
        justify-content: flex-end;
        background-color: rgb(255, 255, 255);

        .button-create-new-product {
            display: flex;
            width: 200px;
            font-size: .9rem;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            color: #fff;
            padding: 10px;
            cursor: 'pointer';
            text-align: 'center';
            background-color: #330066;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.13);
        }
    }

    @media (max-width: 1416px) {
        width: 90%;
    }

    @media (max-width: 958px) {
        width: 100%;
    }
}