.main-container-header {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    box-sizing: border-box;
    gap: 50px;
    padding: 0 30px;
    background-image: linear-gradient(245deg,
            hsl(218deg 56% 30%) 1%,
            hsl(218deg 56% 30%) 31%,
            hsl(218deg 56% 30%) 39%,
            hsl(218deg 56% 30%) 44%,
            hsl(218deg 56% 30%) 47%,
            hsl(218deg 56% 30%) 49%,
            hsl(218deg 56% 30%) 50%,
            hsl(218deg 56% 30%) 51%,
            hsl(218deg 56% 30%) 51%,
            hsl(218deg 56% 30%) 51%,
            hsl(218deg 56% 30%) 51%,
            hsl(218deg 56% 30%) 50%,
            hsl(218deg 56% 30%) 50%,
            hsl(257deg 32% 41%) 50%,
            hsl(299deg 34% 41%) 49%,
            hsl(327deg 47% 50%) 49%,
            hsl(344deg 72% 58%) 49%,
            hsl(3deg 92% 65%) 49%,
            hsl(22deg 100% 60%) 50%,
            hsl(22deg 100% 60%) 51%,
            hsl(22deg 100% 60%) 53%,
            hsl(22deg 100% 60%) 56%,
            hsl(22deg 100% 60%) 61%,
            hsl(22deg 100% 60%) 69%,
            hsl(22deg 100% 60%) 99%);

    .container-image {
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;

        .image {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }


    .search-container {
        position: relative;
        width: 700px;
        background-color: green;
        padding: 0;
        margin: 0;
        height: 30px;

        .input-container {
            height: 100%;
            width: 100%;

            .input-search {
                width: 100%;
                height: 100%;
                border: none;
                border-radius: 3px;
                padding: 0 0 0 10px;
                box-sizing: border-box;
            }
        }

        .container-search-list {
            top: 40px;
            width: 100%;
            z-index: 999;
            cursor: pointer;
            position: absolute;
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            transition: .2s ease-in-out;
            gap: 20px;
            box-sizing: border-box;
            padding: 10px 10px;
            background-color: #f7f7f7;
            color: rgba(0, 0, 0, 0.589);

            .container-search-card {
                display: flex;
                text-decoration: none;
                align-items: center;
                height: 70px;

                .container-text-search {
                    div:nth-child(1) {
                        width: 100%;
                        color: #00000098;
                        font-weight: 500;
                        font-size: 1.1rem;
                    }

                    div:nth-child(2) {
                        width: 90%;
                        color: #0000006c;
                        font-size: .7rem;
                    }
                }
            }
        }
    }

    .container-login-cadastro {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .container-header-icon {
            border: solid 1.5px #ffffff62;
            border-radius: 100px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }

        .container-header-links {
            width: 100px;
            color: #fff;
            font-weight: 300;
            font-size: .7rem;

            a {
                font-weight: 900;
                color: #ffffff;
                text-decoration: none;
                transition: .5s ease-in-out;
                border-bottom: transparent;

            }

            a:hover {
                border-bottom: 1px solid #fff;
            }
        }
    }

    .container-header-bag-number {
        color: #fff;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        cursor: pointer;

        div {
            position: absolute;
            top: -13px;
            right: -13px;
            background: #fc6500;
            height: 21px;
            width: 21px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
        }
    }

    .container-logout {
        display: flex;
        color: #fff;
        gap: 5px;
        font-size: .8rem;

        div:nth-child(2) {
            font-weight: 800;
            cursor: pointer;
        }
    }
}