.main-sale-our-products-container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #224177;
    gap: 20px;


    .text-sale-our-products-container {
        font-size: 1.5rem;
        font-weight: 800;
        color: #fff;
        width: 100%;
        box-sizing: border-box;
        background-color: #ff7d33;
        padding: 10px;
    }
}