ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.item-enter {
    opacity: 0;
    transform: translateX(20px);
}

.item-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.item-exit {
    opacity: 1;
    transform: translateX(0);
}

.item-exit-active {
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 300ms, transform 300ms;
}