.container-cards {
    gap: 10px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px 0 10px;

    .container-carousel-see-all {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        font-weight: 800;
        color: rgb(32, 32, 32);
        gap: 5px;


    }

    @media (max-width: 918px) {
        padding: 0;
    }

    .container-caroussel {
        gap: 10px;
        width: 100%;
        cursor: grab;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 1407px) {
            width: 95%;
        }

        .swiper-button {
            cursor: pointer;
            color: #838383;
            font-size: 1.8rem;
            border-radius: 100px;
            transition: .5s ease-in-out;
            outline: #29292948 solid 2px;
        }

        .swiper-button:hover {
            color: #ff7e33;
        }

        .carousel {
            width: 100%;

        }
    }


}